<mat-toolbar color="primary">
  <span>SLAS code_challenge and code_verifier generator</span>
</mat-toolbar>

<mat-card class="main-card">
  <form class="example-form">
    <mat-form-field appearance="outline" class="codechallenge-form-field">
      <mat-label>code challenge</mat-label>
      <input matInput  maxlength="128" value="" id="codechallenge" class="codechallenge-input" name="codechallenge" [formControl]="codeChallenge" (focus)="selectText($event)">
      <mat-hint align="end">{{codeChallenge.value.length}} / 128</mat-hint>
    </mat-form-field>

    <p>Created by the client calling the login endpoint.</p>
    <p>code_challenge is created by SHA256 hashing the code_verifier and base64 URL encoding the resulting hash.</p>
    <p>The code_verifier should be a high entropy cryptographically random string with a minimum of 43 characters and a maximum of 128 characters.</p>

    <mat-divider class="divider"></mat-divider>

    <mat-form-field appearance="outline" class="codeverifier-form-field">
      <mat-label>code verifier</mat-label>
      <input matInput  maxlength="128" value="" id="codeverifier" class="codeverifier-input" name="codeverifier" [formControl]="codeVerifier" (focus)="selectText($event)">
      <mat-hint align="end">{{codeVerifier.value.length}} / 128</mat-hint>
    </mat-form-field>
    <p>Created by the client calling the login endpoint.</p>
    <p>The code_verifier should be a high entropy cryptographically random string with a minimum of 43 characters and a maximum of 128 characters.</p>
  </form>

  <button mat-raised-button color="primary" (click)="generate()">Generate</button>
</mat-card>
